# Version del docker-compose
version: "3"
# Servicios a arrancar en conjunto. "Contenedores"
services:
    mysql:
        # Imagen de la que arrancara nuestro contenedor
        image: mysql:5.7
        # Nombre del contenedor
        container_name: mysql_sunsetsurf
        # Siempre que se caiga el contenedor lo reinicia(no funciona si lo paramos manualmente)
        restart: always
        # Variables del entorno
        environment:
            MYSQL_ROOT_PASSWORD: abc123.
            MYSQL_DATABASE: sunsetsurf
        ## Puertos que se exponen (exponer para acceso directo)
        ports:
           - "3306:3306"
        # Copiado de la base de datos en nuestro contenedor de mysql
        volumes:
            - ./sunsetsurf_src/bd/sunsetsurf.sql:/docker-entrypoint-initdb.d/sunsetsurf.sql
        # Network asociada al contenedor
        networks:
            - mynet
    php_apache:
        image: php:7-apache
        container_name: apache_sunsetsurf
        restart: always
        # Carpeta montada en el sistema que contendra el codigo de la aplicacion
        volumes:
            - ./sunsetsurf_src:/var/www/html
        expose:
            - 80
        ports:
            - 80:80
        networks:
            - mynet      
networks:
    mynet:
        driver: bridge