.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.transparent {
    background-color: rgba(66, 66, 66, 0.473);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    bottom: 0;
    color: #f1f1f1;
    padding: 10px;
}